.work-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fff7e9;
  .work-exp {
    display: flex;
    flex-direction: column;
    h3 {
      text-align: center;
    }
    p {
      display: flex;
      flex-direction: column;
      padding: 20px 15px;
      margin: 0px 20px;
      border-left: 2px solid #fff7e9;
      gap: 7px;
      span {
        line-height: 1.4em;
      }
    }
  }
  .work-projects {
    display: flex;
    flex-direction: row;
    .projects {
      flex: 1 200px;
      height: 100%;
      color: #fff7e9;
      h3 {
        text-align: center;
        width: 80%;
      }
      ul {
        list-style-type: none;
        width: 80%;
        padding: 0;
        li {
          padding: 15px 10px;
          transition: 0.5s all ease-out;
          border-bottom: 2px solid #fff7e9;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          position: relative;
          &:first-child {
            border-top: 2px solid #fff7e9;
          }
          &::before {
            position: absolute;
            width: 1px;
            content: "\21E8";
            color: #ff731d;
            font-size: 2em;
            opacity: 0;
            top: 3px;
            left: -20px;
            transition: 0.5s all ease-out;
          }
          &:hover {
            &::before {
              opacity: 1;
              left: 8px;
            }
            a {
              padding-left: 30px;
              color: #c5c5c5;
            }
          }
          a {
            transition: 0.5s all ease-out;
            text-decoration: none;
            color: #fff7e9;
          }
          span {
            display: flex;
            .green-eye {
              color: #009933;
            }
            .red-eye {
              color: #cc0000;
            }
          }
        }
      }
    }
    .images {
      flex: 1 400px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .image-wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.8s all;
        img {
          width: 80%;
          border-radius: 5px;
        }
        p {
          text-align: center;
          margin-top: 10px;
          margin-bottom: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 780px) {
  .work-container {
    .work-projects {
      flex-direction: column;
      gap: 10px;
      .images {
        flex: 1 370px;
        .image-wrapper {
          img {
            width: 70%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .work-container {
    .work-exp {
      p {
        margin: 0 5px;
        padding: 10px 0px 10px 10px;
      }
    }
    .work-projects {
      .projects {
        ul {
          width: 100%;
        }
        h3 {
          width: 100%;
        }
      }
      .images {
        .image-wrapper {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
