@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.aboutme-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  .aboutme {
    flex: 1 350px;
    color: #fff7e9;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    p {
      line-height: 1.6em;
      text-align: justify;
    }
  }
  .photo {
    flex: 1 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    .image-wrapper {
      width: 200px;
      height: 250px;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
      }
    }
  }
}
.image-1 {
  clip-path: polygon(30% 0, 0 30%, 0 0);
  transform: translate(-8px, -8px);
  transition: transform 0.3s ease;
  .image-wrapper:hover & {
    transform: translate(0, 0);
  }
}
.image-2 {
  clip-path: polygon(30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0 30%);
}
.image-3 {
  clip-path: polygon(100% 70%, 70% 100%, 100% 100%);
  transform: translate(8px, 8px);
  transition: transform 0.3s ease;
  .image-wrapper:hover & {
    transform: translate(0, 0);
  }
}
